*.o
*.bak
*.swp
*~
*.a
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
cpuminer-config.h
cpuminer-config.h.in
depcomp
install-sh
minerd
missing
stamp-h1
